<a href="https://colab.research.google.com/github/byshadowoz/Movies_Data_Visualization/blob/main/FeatureTransformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dfpro.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 10337 non-null  object
 1   vote_average          10337 non-null  float64
 2   vote_count            10337 non-null  int64
 3   status                10337 non-null  object
 4   release_date          10337 non-null  object
 5   revenue               10337 non-null  int64
 6   runtime               10337 non-null  int64
 7   adult                 10337 non-null  bool
 8   budget                10337 non-null  int64
 9   original_language     10337 non-null  object
 10  original_title        10337 non-null  object
 11  overview              10337 non-null  object
 12  popularity            10337 non-null  float64
 13  tagline               10337 non-null  object
 14  genres                10337 non-null  object
 15  production_companies  10337 non-null  object
 16  production_countries  10337 non-null  object
 17  spoken_languages      10337 non-null  object
 18  keywords              10337 non-null  object
dtypes: bool(1), float64(2), int64(4), object(12)
memory usage: 1.4+ MB

In [5]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 10337 non-null  object
 1   vote_average          10337 non-null  float64
 2   vote_count            10337 non-null  int64
 3   status                10337 non-null  object
 4   release_date          10337 non-null  datetime64[ns]
 5   revenue               10337 non-null  int64
 6   runtime               10337 non-null  int64
 7   adult                 10337 non-null  bool
 8   budget                10337 non-null  int64
 9   original_language     10337 non-null  object
 10  original_title        10337 non-null  object
 11  overview              10337 non-null  object
 12  popularity            10337 non-null  float64
 13  tagline               10337 non-null  object
 14  genres                10337 non-null  object
 15  production_companies  10337 non-null  object
 16  production_countries  10337 non-null  object
 17  spoken_languages      10337 non-null  object
 18  keywords              10337 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(4), object(11)
memory usage: 1.4+ MB