<a href="https://colab.research.google.com/github/byshadowoz/Movies_Data_Visualization/blob/main/recomendationModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv('CSVs/movie_dataset.csv')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034999 entries, 0 to 1034998
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1034999 non-null  int64
 1   title                 1034987 non-null  object
 2   vote_average          1034999 non-null  float64
 3   vote_count            1034999 non-null  int64
 4   status                1034999 non-null  object
 5   release_date          903322 non-null   object
 6   revenue               1034999 non-null  int64
 7   runtime               1034999 non-null  int64
 8   adult                 1034999 non-null  bool
 9   backdrop_path         287519 non-null   object
 10  budget                1034999 non-null  int64
 11  homepage              111939 non-null   object
 12  imdb_id               579730 non-null   object
 13  original_language     1034999 non-null  object
 14  original_title        1034987 non-null  object
 15  overview              843934 non-null   object
 16  popularity            1034999 non-null  float64
 17  poster_path           737924 non-null   object
 18  tagline               147785 non-null   object
 19  genres                645131 non-null   object
 20  production_companies  485799 non-null   object
 21  production_countries  604689 non-null   object
 22  spoken_languages      617333 non-null   object
 23  keywords              294770 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 182.6+ MB

In [29]:
data.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,7/15/2010,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,11/5/2014,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,7/16/2008,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,12/15/2009,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,4/25/2012,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [30]:
data = data.drop(columns=['backdrop_path', 'status', 'homepage', 'imdb_id', 'poster_path', 'tagline', 'overview', 'original_language'])

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034999 entries, 0 to 1034998
Data columns (total 16 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1034999 non-null  int64
 1   title                 1034987 non-null  object
 2   vote_average          1034999 non-null  float64
 3   vote_count            1034999 non-null  int64
 4   release_date          903322 non-null   object
 5   revenue               1034999 non-null  int64
 6   runtime               1034999 non-null  int64
 7   adult                 1034999 non-null  bool
 8   budget                1034999 non-null  int64
 9   original_title        1034987 non-null  object
 10  popularity            1034999 non-null  float64
 11  genres                645131 non-null   object
 12  production_companies  485799 non-null   object
 13  production_countries  604689 non-null   object
 14  spoken_languages      617333 non-null   object
 15  keywords              294770 non-null   object
dtypes: bool(1), float64(2), int64(5), object(8)
memory usage: 119.4+ MB

In [32]:
data = data[data['budget'] > 0]

In [33]:
data = data[data['revenue'] > 0]

In [34]:
data = data.dropna()

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9232 entries, 0 to 1033393
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9232 non-null   int64
 1   title                 9232 non-null   object
 2   vote_average          9232 non-null   float64
 3   vote_count            9232 non-null   int64
 4   release_date          9232 non-null   object
 5   revenue               9232 non-null   int64
 6   runtime               9232 non-null   int64
 7   adult                 9232 non-null   bool
 8   budget                9232 non-null   int64
 9   original_title        9232 non-null   object
 10  popularity            9232 non-null   float64
 11  genres                9232 non-null   object
 12  production_companies  9232 non-null   object
 13  production_countries  9232 non-null   object
 14  spoken_languages      9232 non-null   object
 15  keywords              9232 non-null   object
dtypes: bool(1), float64(2), int64(5), object(8)
memory usage: 1.1+ MB

In [36]:
from math import sqrt

In [37]:
data.head(1)

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_title,popularity,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,7/15/2010,825532764,148,False,160000000,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."

In [38]:
datac = data.copy()

In [39]:
data.genres = data.genres.str.split(", ")

In [40]:
data.head()

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_title,popularity,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,7/15/2010,825532764,148,False,160000000,Inception,83.952,"[Action, Science Fiction, Adventure]","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,11/5/2014,701729206,169,False,165000000,Interstellar,140.241,"[Adventure, Drama, Science Fiction]","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,7/16/2008,1004558444,152,False,185000000,The Dark Knight,130.643,"[Drama, Action, Crime, Thriller]","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,12/15/2009,2923706026,162,False,237000000,Avatar,79.932,"[Action, Adventure, Fantasy, Science Fiction]","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,4/25/2012,1518815515,143,False,220000000,The Avengers,98.082,"[Science Fiction, Action, Adventure]",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [41]:
for index, row in data.iterrows():
  for genre in row['genres']:
    datac.at[index, genre] = 1
datac = datac.fillna(0)

In [42]:
datac.sample(5)

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_title,...,Western,Mystery,War,Animation,Family,Horror,Music,History,Documentary,TV Movie
1278,10330,Freaky Friday,6.462,3482,8/5/2003,160846332,97,False,26000000,Freaky Friday,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12970,45316,Udaan,7.158,171,6/17/2010,520000,138,False,800000,उड़ान,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4964,1499,Teenage Mutant Ninja Turtles III,5.331,723,3/17/1993,42273609,96,False,21000000,Teenage Mutant Ninja Turtles III,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3959,9879,Striptease,5.545,991,6/28/1996,113309743,115,False,50000000,Striptease,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5101,38579,Marmaduke,5.275,692,6/3/2010,83761844,87,False,50000000,Marmaduke,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [84]:
userExample = [
    {
        'title':'Gnomeo & Juliet',
        'rating': 1
    },
    {
        'title':'Downton Abbey',
        'rating': 2
    },
    {
        'title':'Little Buddha',
        'rating': 5
    },
    {
        'title':'Rambo III',
        'rating': 4
    },
    {
        'title':'War of the Worlds',
        'rating': 1
    }
]

In [85]:
inputMovie = pd.DataFrame(userExample)

In [86]:
print(inputMovie)

pelicular Usuario:
                title  rating
0    Gnomeo & Juliet       1
1      Downton Abbey       2
2      Little Buddha       5
3          Rambo III       4
4  War of the Worlds       1

In [87]:
Id = datac[datac['title'].isin(inputMovie['title'].tolist())]

In [88]:
inputMovie = pd.merge(Id, inputMovie)

In [89]:
inputMovie = inputMovie.drop(columns=['vote_average', 'vote_count', 'release_date', 'revenue', 'runtime','budget', 'original_title','production_companies', 'production_countries', 'spoken_languages', 'keywords', 'genres'])

In [90]:
inputMovie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5 non-null      int64
 1   title            5 non-null      object
 2   adult            5 non-null      bool
 3   popularity       5 non-null      float64
 4   Action           5 non-null      float64
 5   Science Fiction  5 non-null      float64
 6   Adventure        5 non-null      float64
 7   Drama            5 non-null      float64
 8   Crime            5 non-null      float64
 9   Thriller         5 non-null      float64
 10  Fantasy          5 non-null      float64
 11  Comedy           5 non-null      float64
 12  Romance          5 non-null      float64
 13  Western          5 non-null      float64
 14  Mystery          5 non-null      float64
 15  War              5 non-null      float64
 16  Animation        5 non-null      float64
 17  Family           5 non-null      float64
 18  Horror           5 non-null      float64
 19  Music            5 non-null      float64
 20  History          5 non-null      float64
 21  Documentary      5 non-null      float64
 22  TV Movie         5 non-null      float64
 23  rating           5 non-null      int64
dtypes: bool(1), float64(20), int64(2), object(1)
memory usage: 1.0+ KB

In [91]:
inputMovie = inputMovie.reset_index(drop=True)
genreTable = inputMovie.drop(columns=['title','adult','popularity','rating','id'])
print(genreTable)

Tabla de generos:
    Action  Science Fiction  Adventure  Drama  Crime  Thriller  Fantasy  \
0     0.0              1.0        1.0    0.0    0.0       1.0      0.0
1     1.0              0.0        1.0    0.0    0.0       1.0      0.0
2     0.0              0.0        0.0    0.0    0.0       0.0      0.0
3     0.0              0.0        0.0    1.0    0.0       0.0      0.0
4     0.0              0.0        0.0    1.0    0.0       0.0      0.0

   Comedy  Romance  Western  Mystery  War  Animation  Family  Horror  Music  \
0     0.0      0.0      0.0      0.0  0.0        0.0     0.0     0.0    0.0
1     0.0      0.0      0.0      0.0  1.0        0.0     0.0     0.0    0.0
2     0.0      0.0      0.0      0.0  0.0        1.0     1.0     0.0    0.0
3     0.0      1.0      0.0      0.0  0.0        0.0     0.0     0.0    0.0
4     0.0      0.0      0.0      0.0  0.0        0.0     0.0     0.0    0.0

   History  Documentary  TV Movie
0      0.0          0.0       0.0
1      0.0          0.0       0.0
2      0.0          0.0       0.0
3      1.0          0.0       0.0
4      1.0          0.0       0.0

In [93]:
profile_user = genreTable.transpose().dot(inputMovie['rating'])
profile_user

Action             4.0
Science Fiction    1.0
Adventure          5.0
Drama              7.0
Crime              0.0
Thriller           5.0
Fantasy            0.0
Comedy             0.0
Romance            2.0
Western            0.0
Mystery            0.0
War                4.0
Animation          1.0
Family             1.0
Horror             0.0
Music              0.0
History            7.0
Documentary        0.0
TV Movie           0.0
dtype: float64

In [94]:
genre = datac.set_index(datac['id'])

genre = genre.drop(columns=['id','vote_average', 'vote_count', 'release_date', 'revenue', 'runtime','budget', 'original_title','production_companies', 'production_countries', 'spoken_languages', 'keywords', 'genres','title','adult', 'popularity'])
genre.shape

(9232, 19)

In [95]:
recom = ((genre*profile_user).sum(axis=1)) / (profile_user.sum())

In [96]:
recom

id
27205     0.270270
157336    0.351351
155       0.432432
19995     0.270270
24428     0.270270
            ...
679675    0.000000
679629    0.324324
680936    0.054054
683707    0.270270
684897    0.216216
Length: 9232, dtype: float64

In [97]:
recom = recom.sort_values(ascending=False)
recom

id
27854     0.810811
4435      0.783784
1966      0.783784
9664      0.783784
9361      0.783784
            ...
113451    0.000000
131799    0.000000
13909     0.000000
69204     0.000000
23988     0.000000
Length: 9232, dtype: float64

In [98]:
final = datac.loc[datac['id'].isin(recom.head(20).keys())]
nfinal = final[['title']]
print('peliculas recomentadas:\n', nfinal)

peliculas recomentadas:
                                          title
1131                   In the Heart of the Sea
1161                         Kingdom of Heaven
1490                                 Alexander
1613                  The Last of the Mohicans
1921                          The Great Escape
1943                                    Midway
3171   The Messenger: The Story of Joan of Arc
4853                                 Red Cliff
4929                                   Flyboys
5904                                   Rob Roy
5934                                 Red Tails
7377                              Red Cliff II
10381                      Saints and Soldiers
10702                            The Red Baron
13062                  For Whom the Bell Tolls
14489                        55 Days at Peking
14883                                     1911
15054                                    Aśoka
17231                               The Breath
19963                        Operation Seawolf