<a href="https://colab.research.google.com/github/byshadowoz/Movies_Data_Visualization/blob/main/recomendationModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import pandas as pd
import numpy as np

In [86]:
data = pd.read_csv('movie_dataset.csv')

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034999 entries, 0 to 1034998
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1034999 non-null  int64
 1   title                 1034987 non-null  object
 2   vote_average          1034999 non-null  float64
 3   vote_count            1034999 non-null  int64
 4   status                1034999 non-null  object
 5   release_date          903322 non-null   object
 6   revenue               1034999 non-null  int64
 7   runtime               1034999 non-null  int64
 8   adult                 1034999 non-null  bool
 9   backdrop_path         287519 non-null   object
 10  budget                1034999 non-null  int64
 11  homepage              111939 non-null   object
 12  imdb_id               579730 non-null   object
 13  original_language     1034999 non-null  object
 14  original_title        1034987 non-null  object
 15  overview              843934 non-null   object
 16  popularity            1034999 non-null  float64
 17  poster_path           737924 non-null   object
 18  tagline               147785 non-null   object
 19  genres                645131 non-null   object
 20  production_companies  485799 non-null   object
 21  production_countries  604689 non-null   object
 22  spoken_languages      617333 non-null   object
 23  keywords              294770 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 182.6+ MB

In [88]:
data.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,7/15/2010,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,11/5/2014,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,7/16/2008,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,12/15/2009,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,4/25/2012,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [89]:
data = data.drop(columns=['backdrop_path', 'status', 'homepage', 'imdb_id', 'poster_path', 'tagline', 'overview', 'original_language'])

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034999 entries, 0 to 1034998
Data columns (total 16 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1034999 non-null  int64
 1   title                 1034987 non-null  object
 2   vote_average          1034999 non-null  float64
 3   vote_count            1034999 non-null  int64
 4   release_date          903322 non-null   object
 5   revenue               1034999 non-null  int64
 6   runtime               1034999 non-null  int64
 7   adult                 1034999 non-null  bool
 8   budget                1034999 non-null  int64
 9   original_title        1034987 non-null  object
 10  popularity            1034999 non-null  float64
 11  genres                645131 non-null   object
 12  production_companies  485799 non-null   object
 13  production_countries  604689 non-null   object
 14  spoken_languages      617333 non-null   object
 15  keywords              294770 non-null   object
dtypes: bool(1), float64(2), int64(5), object(8)
memory usage: 119.4+ MB

In [91]:
data = data[data['budget'] > 0]

In [92]:
data = data[data['revenue'] > 0]

In [93]:
data = data.dropna()

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9232 entries, 0 to 1033393
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9232 non-null   int64
 1   title                 9232 non-null   object
 2   vote_average          9232 non-null   float64
 3   vote_count            9232 non-null   int64
 4   release_date          9232 non-null   object
 5   revenue               9232 non-null   int64
 6   runtime               9232 non-null   int64
 7   adult                 9232 non-null   bool
 8   budget                9232 non-null   int64
 9   original_title        9232 non-null   object
 10  popularity            9232 non-null   float64
 11  genres                9232 non-null   object
 12  production_companies  9232 non-null   object
 13  production_countries  9232 non-null   object
 14  spoken_languages      9232 non-null   object
 15  keywords              9232 non-null   object
dtypes: bool(1), float64(2), int64(5), object(8)
memory usage: 1.1+ MB

In [95]:
from math import sqrt

In [96]:
data.head(1)

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_title,popularity,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,7/15/2010,825532764,148,False,160000000,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."

In [97]:
datac = data.copy()

In [98]:
data.genres = data.genres.str.split(", ")

In [99]:
data.head()

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_title,popularity,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,7/15/2010,825532764,148,False,160000000,Inception,83.952,"[Action, Science Fiction, Adventure]","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,11/5/2014,701729206,169,False,165000000,Interstellar,140.241,"[Adventure, Drama, Science Fiction]","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,7/16/2008,1004558444,152,False,185000000,The Dark Knight,130.643,"[Drama, Action, Crime, Thriller]","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,12/15/2009,2923706026,162,False,237000000,Avatar,79.932,"[Action, Adventure, Fantasy, Science Fiction]","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,4/25/2012,1518815515,143,False,220000000,The Avengers,98.082,"[Science Fiction, Action, Adventure]",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [100]:
for index, row in data.iterrows():
  for genre in row['genres']:
    datac.at[index, genre] = 1
datac = datac.fillna(0)

In [101]:
datac.sample(5)

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_title,...,Western,Mystery,War,Animation,Family,Horror,Music,History,Documentary,TV Movie
1924,459151,The Boss Baby: Family Business,7.442,2274,7/1/2021,146745280,107,False,82000000,The Boss Baby: Family Business,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
802,1584,School of Rock,7.071,5173,10/3/2003,131095990,110,False,35000000,School of Rock,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1072,395,AVP: Alien vs. Predator,5.900,3999,8/12/2004,177427090,101,False,70000000,AVP: Alien vs. Predator,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8505,14554,Bad Day at Black Rock,7.288,326,1/13/1955,3788000,81,False,1271000,Bad Day at Black Rock,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2599,10647,Pay It Forward,7.313,1635,10/20/2000,55707411,122,False,40000000,Pay It Forward,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
userExample = [
    {
        'title':'Gnomeo & Juliet',
        'rating': 2
    },
    {
        'title':'Downton Abbey',
        'rating': 5
    },
    {
        'title':'Little Buddha',
        'rating': 3
    },
    {
        'title':'Rambo III',
        'rating': 10
    },
    {
        'title':'War of the Worlds',
        'rating': 8
    }
]

In [103]:
inputMovie = pd.DataFrame(userExample)

In [104]:
print('pelicular Usuario:\n', inputMovie)

pelicular Usuario:
                title  rating
0    Gnomeo & Juliet       2
1      Downton Abbey       5
2      Little Buddha       3
3          Rambo III      10
4  War of the Worlds       8

In [105]:
Id = datac[datac['title'].isin(inputMovie['title'].tolist())]

In [106]:
inputMovie = pd.merge(Id, inputMovie)

In [107]:
inputMovie = inputMovie.drop(columns=['vote_average', 'vote_count', 'release_date', 'revenue', 'runtime','budget', 'original_title','production_companies', 'production_countries', 'spoken_languages', 'keywords', 'genres'])

In [108]:
inputMovie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5 non-null      int64
 1   title            5 non-null      object
 2   adult            5 non-null      bool
 3   popularity       5 non-null      float64
 4   Action           5 non-null      float64
 5   Science Fiction  5 non-null      float64
 6   Adventure        5 non-null      float64
 7   Drama            5 non-null      float64
 8   Crime            5 non-null      float64
 9   Thriller         5 non-null      float64
 10  Fantasy          5 non-null      float64
 11  Comedy           5 non-null      float64
 12  Romance          5 non-null      float64
 13  Western          5 non-null      float64
 14  Mystery          5 non-null      float64
 15  War              5 non-null      float64
 16  Animation        5 non-null      float64
 17  Family           5 non-null      float64
 18  Horror           5 non-null      float64
 19  Music            5 non-null      float64
 20  History          5 non-null      float64
 21  Documentary      5 non-null      float64
 22  TV Movie         5 non-null      float64
 23  rating           5 non-null      int64
dtypes: bool(1), float64(20), int64(2), object(1)
memory usage: 1.0+ KB

In [112]:
inputMovie = inputMovie.reset_index(drop=True)
genreTable = inputMovie.drop(columns=['title','adult','popularity','rating','id'])
print('Tabla de generos:\n', genreTable)

Tabla de generos:
    Action  Science Fiction  Adventure  Drama  Crime  Thriller  Fantasy  \
0     0.0              1.0        1.0    0.0    0.0       1.0      0.0
1     1.0              0.0        1.0    0.0    0.0       1.0      0.0
2     0.0              0.0        0.0    0.0    0.0       0.0      0.0
3     0.0              0.0        0.0    1.0    0.0       0.0      0.0
4     0.0              0.0        0.0    1.0    0.0       0.0      0.0

   Comedy  Romance  Western  Mystery  War  Animation  Family  Horror  Music  \
0     0.0      0.0      0.0      0.0  0.0        0.0     0.0     0.0    0.0
1     0.0      0.0      0.0      0.0  1.0        0.0     0.0     0.0    0.0
2     0.0      0.0      0.0      0.0  0.0        1.0     1.0     0.0    0.0
3     0.0      1.0      0.0      0.0  0.0        0.0     0.0     0.0    0.0
4     0.0      0.0      0.0      0.0  0.0        0.0     0.0     0.0    0.0

   History  Documentary  TV Movie
0      0.0          0.0       0.0
1      0.0          0.0       0.0
2      0.0          0.0       0.0
3      1.0          0.0       0.0
4      1.0          0.0       0.0

In [110]:
profile_user = genreTable.transpose().dot(inputMovie['rating'])
profile_user

id                 2788623.0
Action                  10.0
Science Fiction          8.0
Adventure               18.0
Drama                    8.0
Crime                    0.0
Thriller                18.0
Fantasy                  0.0
Comedy                   0.0
Romance                  5.0
Western                  0.0
Mystery                  0.0
War                     10.0
Animation                2.0
Family                   2.0
Horror                   0.0
Music                    0.0
History                  8.0
Documentary              0.0
TV Movie                 0.0
dtype: float64

In [118]:
genre = datac.set_index(datac['id'])

genre = genre.drop(columns=['id','vote_average', 'vote_count', 'release_date', 'revenue', 'runtime','budget', 'original_title','production_companies', 'production_countries', 'spoken_languages', 'keywords', 'genres','title','adult', 'popularity'])
genre.shape

(9232, 19)

In [119]:
recom = ((genre*profile_user).sum(axis=1)) / (profile_user.sum())

In [120]:
recom

id
27205     0.000013
157336    0.000012
155       0.000013
19995     0.000013
24428     0.000013
            ...
679675    0.000000
679629    0.000009
680936    0.000002
683707    0.000005
684897    0.000004
Length: 9232, dtype: float64

In [121]:
recom = recom.sort_values(ascending=False)
recom

id
1018494    0.000026
27854      0.000024
22972      0.000023
5925       0.000022
205775     0.000022
             ...
41227      0.000000
25372      0.000000
656663     0.000000
15745      0.000000
178546     0.000000
Length: 9232, dtype: float64

In [122]:
final = datac.loc[datac['id'].isin(recom.head(20).keys())]
nfinal = final[['title']]
print('peliculas recomentadas:\n', nfinal)

peliculas recomentadas:
                                                    title
698                                          First Blood
1131                             In the Heart of the Sea
1267                          Rambo: First Blood Part II
1364                                                   9
1490                                           Alexander
1565                                           Rambo III
1613                            The Last of the Mohicans
1921                                    The Great Escape
2146                                          Green Zone
2672                              Race to Witch Mountain
3086                   Final Fantasy: The Spirits Within
3863                                           The Saint
4929                                             Flyboys
7215                                   Missing in Action
13062                            For Whom the Bell Tolls
15054                                              Aśoka
17231                                         The Breath
19963                                  Operation Seawolf
45244                                             Raavan
67461  The Tulse Luper Suitcases, Part 3: From Sark t...